<ion-header>
  <ion-navbar>
    <ion-title>
     	Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  	<button ion-button (click)="buttonClick()">Click this button</button>
  </div>
  <div>
  	<button ion-button [navPush]="firstPage" [navParams]="params">Go to First Page</button>
  </div>
</ion-content>
